.custom-navbar {
    background-color: #eef1ee; 
    height: 2cm;
    padding: 5px 20px;
  }
  Navbar.Brand{
    color: rgb(19, 56, 31);
    font-style: bold;
    font-size: 10rem; 
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  }