.custom-navbar {
    background-color: white; 
    height: 2cm;
    padding: 5px 20px;
margin-left: 57px;
margin-right: 10px;
  }
  .custom-navbar .navbar-brand {
    color: rgb(35, 136, 67) !important; 
    font-size: 2rem; 
    font-weight: bold; 
    font-family: 'Times New Roman', Times, serif;}