.custom-navbar8 {
    background-color: white; 
    width: 1350px;
    height: 2cm;
    padding: 5px 20px;
    margin-left:60px;
    
  }
  .custom-navbar8 .navbar-brand8 {
    color: rgb(10, 95, 37) !important; 
    font-size: 2rem; 
    font-weight: bold; 
    font-family: 'Times New Roman', Times, serif;}