.content{
    background: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    min-height:70vh ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-container{
    background: rgb(226, 226, 226);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.custom-h2{
    text-align: center;
    color: #014701;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.custom-formcontrol{
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 0.8rem;
    font-size: 1rem;
    width:auto;
}

.custom-formcontrol:focus{
    border-color: #006400;
    box-shadow: 0 0 5px rgba(0, 100, 0, 0.5);
}


.custom-button2{
  background: #006400;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.3s ease;
  width: 100%;
}

.custom-button2:hover{
  background: #004c00;
  cursor: pointer;
}

/* Error message styling */
.alert {
    border-radius: 8px;
    padding: 0.8rem;
    font-size: 0.9rem;
    text-align: center;
  }
  
  @media (max-width: 576px) {
    .custom-container {
      padding: 1.5rem;
      max-width: 90%;
    }
  
    .custom-h2 {
      font-size: 1.5rem;
    }
  
    .custom-button2 {
      font-size: 1rem;
    }
  }

.col-md-6 {
    flex: 0 0 auto;
    width: auto;
    padding: 0;
}

  