/* General Styles */
.user-account-container {
  font-family: Arial, sans-serif;
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  background-color: white;
}
.bn21{
  height: 1cm;
  width: 2.5cm;
  background-color: red;

}
.studentName{
  color: rgb(3, 76, 3);
  font-size: 60px;
  font-weight: bold;
}
.pageName{
  color: rgb(3, 13, 76);
  font-size: 30px;
  font-weight: bold;
  padding: 10px 10px;
  text-align: center;
  margin-bottom: 5px;

}
.h5{
  font-weight: bold;
}
.status {
  font-weight: bold;
  font-size: larger;
  color: red;
}

.details-box1 {
  background-color: #e0e1e2;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  margin-left: 150px;
  margin-right: 50px;
  color: black;
  font-size: 15px;
}
.details-box2 {
  background-color: #e0e1e2;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  margin-right: 150px;
  margin-left: 50px;
  color: black;
  font-size: 15px;
}

.details-box1 h6 {
  margin: 5px 0;
}
.c11{
  margin-right: 25px;
}
/* Avatar Styles */
.user-avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
  margin-bottom: 20px;
  margin-left: 0px;
}


/* Column Styles */
.r11{
  margin-top: 10px;
}

@media (max-width: 768px) {
  .user-avatar {
    width: 120px;
    height: 120px;
  }

 
}
