 .form-container {
    max-width: auto;
    margin: 0 auto;
    background-color: rgb(247, 247, 249);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }

.custom-h21 {
  color: #225906;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

.form-label {
  font-weight:400;
  color: #000000;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}


.form-control {
  max-width: auto;
  border-radius: 5px;
  border: 0.5px solid #b4b9be;
  font-size: 0.9rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  transition: border-color 0.2s, box-shadow 0.2s;
  margin-right: 1cm;
}

.p2{
  font-weight: 500;
  color: rgb(17, 41, 218);
  font-size: 13px;
  margin-bottom: 0;
}
.p1{
  color: rgb(17, 41, 218);
  font-weight: 600;
}


/* Change checkmark color when checked */
.form-check-input:checked {
  background-color:  #08600b; 
}

/* Optional: Change the hover effect */
.form-check-input:hover {
  box-shadow: 0 0 5px #d8d8d8;
}

.form-control:focus {
  border-color: #006400;
  box-shadow: 0 0 5px rgba(158, 175, 153, 0.5);
}

.form-select {
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 10px;
  border: 1px solid #ced4da;
  background-color: #fff;
}

.form-select:focus {
  border-color:#006400;
  box-shadow: 0 0 5px rgba(51, 255, 0, 0.5);
}
.col1{
  text-align: left;
}

.custom-button2 { 
  background-color: #006400;
  color: white;
  border: none;
  padding: 6pxpx 10px;
  font-size: 1rem;
  border-radius: 5px;
  width: 25%;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.custom-button2:hover {
  background-color: #1c880d;
  transform: scale(1.05);
}

/* Success alert */
.alert-success {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

/* Danger alert */
.alert-danger {
  text-align: left;
  font-size: 0.85rem;
  font-weight: normal;
  padding: 5px;
  margin-top:0;
  background-color: rgb(247, 247, 249);
  border-color:rgb(247, 247, 249);
  color:rgb(219, 17, 17) ;
}


/* Responsive styles */
@media (max-width: 768px) {
  .form-container {
    padding: 15px 20px;
  }

  .custom-h21 {
    font-size: 1.5rem;
  }

  .custom-button2 {
    font-size: 0.9rem;
    padding: 8px 12px;
  }
}
