.student-container {
  font-family: Arial, sans-serif;
  margin: 20px;
  margin-left: 200px;
  padding: 20px;
  background-color: white;
}

/* Header Section */
.student-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.student-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.filter-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
}

/* Buttons */
.export-button,
.add-select-student {
  background-color: #fbc02d;
  border: none;
  color: black;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.export-button:hover,
.add-student-button:hover {
  background-color: #e6a600;
}

/* Table Styling */
.student-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.student-table th,
.student-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.student-table th {
  background-color: #f1f1f1;
  font-weight: bold;
}

.student-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.student-table tr:hover {
  background-color: #f1f1f1;
}

.no-data {
  text-align: center;
  font-style: italic;
  color: #999;
}

/* Modal Background */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 8, 8, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.modal-overlay.open {
  opacity: 1;
  pointer-events: auto;
}

/* Modal Box */
.modal {
  background-color: #080808;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Modal Actions */
.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

/* Submit and Cancel Buttons */
.submit-button,
.cancel-button {
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button {
  background-color: green;
}

.cancel-button {
  background-color: red;
}

.submit-button:hover {
  background-color: darkgreen;
}

.cancel-button:hover {
  background-color: darkred;
}
