body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #efefef;
}

.student-container {
  font-family: Arial, sans-serif;
  margin: 20px;
  margin-left: 200px;
  padding: 20px;
  background-color: white;
}

/* Header Section */
.student-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.student-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.filter-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
}

/* Buttons */
.export-button,
.add-select-student {
  background-color: #fbc02d;
  border: none;
  color: black;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-top: 0;
  height: 1cm;
}

.export-button:hover,
.add-select-button:focus {
  border-color: #006400;
  box-shadow: 0 0 5px rgba(158, 175, 153, 0.5);
}

.view-btn {
  background-image: url("../../assets/view.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  width: 30px;  /* Adjust width */
  height: 15px;  /* Adjust height */
  border: none;
  cursor: pointer;
  color: white; /* Adjust text color if needed */
  border-radius: 1cm;
}

.delete-btn {
  background-image: url("../../assets/delete.png"); /* Replace with actual path */
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 15px;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 1cm;
}
.delete-btn:hover {
  background-color:red;
}

.view-btn:hover{
  background-color:rgb(90, 90, 254);
}

/* Table Styling */
.student-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.student-table td {
  border: 1px solid #ddd;
  padding: 10px 10px;
  text-align: left;
  margin-left: 20px;
}
.student-table tr {
  height: 1cm;
}
.student-table th {
  background-color: #f1f1f1;
  font-weight: bold;
  border: 1px solid #ddd;
  padding: 10px 0px;
  text-align: center;
}

.student-table tr:hover {
  background-color: #f1f1f1;
}

.no-data {
  text-align: center;
  font-style: italic;
  color: #999;
}

.custom-modal1{
  color: #006400;
}

.custom-modal2{
  background-color: #d0e7d0;
}

.custom-modal.modal-dialog {
  min-width: 80%; 
}

.custom-input5{
padding-right: 30px;
width: 200px;
height: 1cm;
border-color: #bdbdbd;
}

.custom-input5:focus{
  border-color: #006400;
  box-shadow: 0 0 5px rgba(158, 175, 153, 0.5);
}

.custom-input6{
  width: 300px;
}

.custom-input7{
  margin-bottom: 15px;
  border-radius: 0.25cm;
  
}

.pp{
  font-size: small;
}